body {
    background-color: pink;
}

.box {
    width: 100px;
    height: 100px;
    margin: 1rem;
    border: 1px solid black;
}

.fizz {
    background-color: white;
}

.buzz {
    background-color: plum;
}

.fizz-buzz {
    background-color: lightskyblue;
}