:root {

}

body {
    background-color: black;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    margin: 1rem;
    color: white;
    font-size: 1.5rem;
}

.f-b {
    background-color: yellowgreen;
}

.fizz {
    background-image: url(../img/fizz.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.buzz {
    background-image: url(../img/buzz.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.fizz-buzz {
    background-image: url(../img/smile.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}